<html lang="zxx">

<head>
    <title>Corp Group Corporate Category Bootstrap Responsive Web Template | About :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Corp Group Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="static/driver/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="static/driver/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="static/driver/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <!-- //header -->
    <div class="banner-content inner" id="home">
        <!-- header -->
      <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                   

                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2">
                            <li class="active"><a href="{% url 'driverhome' %}">Home</a></li>
                            <li><a href="{% url 'reqvehcdriv' %}">Request Vehicle</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'viewwork' %}">Works</a></li>
                                <li><a href="{% url 'viewinsuranceexpiry' %}">Insurance Expiry</a></li>
                                
                              </ul>
                            </li>
                            <li><a href="{% url 'dpayment' %}"> Payment</a></li>
        
                            <li><a href="{% url 'index' %}">Logout</a></li>
                          
                      
                        </ul>
               
                            
                     
                    </nav>
                <!-- //nav -->
            </div>
        </header>
    </div>
        <br><br><br><br>
</body>

</html>


<div align="center">
        <h2 align="center"><b>View Works..............</b></h2>
        <br><br>
        
        <table border="2" align="center">
         <tr><th>Driver Id</th>
        <th>Work</th>
        <th>Work Date</th>
        <th>Estimated Kilometer</th>
        <th>Estimated dayzs </th>
        <th>Work Load</th></tr>
        {% for i in j%}
        <tr><td>{{i.1}}</td><td>{{i.2}}</td><td>{{i.3}}</td><td>{{i.4}}</td><td>{{i.5}}</td><td>{{i.6}}</td>
        <td><a href="/workcompleted?id={{i.4}}">Work Completed</a></td>
        <td><a href="/requestacceptdriv?id={{i.4}}">Work Pending</a></td></tr>
        {% endfor %}
    </div>
        
        
        
        
        
        
        
        </table>